

.logo{ 
    width: 15rem;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(230, 229, 227);
}

header {
    background-color: rgb(164, 160, 160);
    border: 2px solid black;
}

.fuentes{
   font-size: 0.8rem;
   padding: 1.5rem;
   text-transform: uppercase;
  font-weight: bold;
}

.dropdown-menu{
    text-transform: initial;
}

.fuentes li a:hover {
    background-color: red;
    color: antiquewhite;
}

.d-flex{
    align-items: center;
    justify-content: center;
    width: 1300px;
    background-color:rgb(252, 0, 0);
    border-radius: 25px;
}

.btn {
    color:  antiquewhite;
    background-color:rgb(252, 0, 0);
    border: 2px solid black;
}

hr {
    border: 2px dotted black;
    position: relative;
    top: -50px;
}

.imgCorusel{
   height: 450px;
   object-fit: cover;
}

.titulosProductos {
    background-color: red;
    color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1px;
    padding: 1rem;
}

.titulosProductos h2{
    font-size: 2.5rem;
}

.card{
    margin: 10px;
}

.spam {
    width: 800px;
    position: relative;
    left: 300px;
    text-transform: uppercase;
    text-decoration: underline;
}

.text-center{
    text-transform: capitalize;
}

h1{
text-decoration: underline;
}

.map {
    position: relative;
    width: 500px;
    height: 300px;
    left: 400px;
    top: 25px;
}

.mb-1 {
    position: relative;
    left: 550px;
}

.text-body-secondary {
    position: relative;
    left: 275px;
}